.cardBody {
    /* margin: 0 auto; */
    width: 310px;
    display: block;
    margin: .5rem;
}

.imageContainer {
    height: 75px;
    width: 150px;
    border-radius: 10px;
}

.image {
    width: inherit;
    border-radius: 10px;
}

.cardBody {
    display: flex;
    text-decoration: none;
    background-color: #336b9c;
    backdrop-filter: blur(15px);
    padding: .5rem;
    font-size: 1.3rem;
    color: rgb(241, 234, 234);
    font-weight: 500;
    border-radius: 10px;
}

.cardBody:hover {
    color: rgb(230, 223, 223);
    cursor: pointer;
}

.details {
    padding: 0.2rem 0.7rem 0;
}


.p {
    font-size: .9rem;
    margin: 0;
}

.pmid,
.prd {
    font-size: .6rem;
    font-weight: 100;
    margin: 0;
    color: rgb(192, 192, 192);
}

.icon {
    color: #003366;
}

@media only screen and (max-width: 415px) {
    .cardBody {
        margin: .3rem 0 0 0;
    }
}

@media only screen and (max-width: 362px) {
    .p {
        font-size: 16px;
    }
}