.all {
    width: 100vw;
}

.top {
    width: 35%;
    padding: 2rem;
}

.heading {
    justify-content: space-between;
    /* width: 50vw; */
}

.image {
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

.subb {
    width: 32.5vw;
    padding: 2rem 0 1rem 0;
    border-radius: 15px;
    padding: 1rem;
}

.subb:hover {
    cursor: pointer;
    background-color: #BCEDF6;
    margin: -.2rem 0;
    box-shadow: 3px 3px #6B7FD7;
}

.sub {
    /* height: 50vh; */
    width: 37vw;
    /* background: #000; */
    justify-content: space-between;
}

.sub1 {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
    padding: .8rem 3rem 0 1rem;
}

.buttonSection {
    align-items: center;
    justify-content: space-between;
}

.trash:hover {
    color: yellow;
}