.cardBody {
    /* margin: 0 auto; */
    width: auto;
    display: block;
}

.cardBody:hover {
    color: black;
    cursor: pointer;
}

.side {
    display: none;
}

.imageContainer {
    height: 150px;
    width: 200px;
    border-radius: 1rem;
}

.image {
    height: inherit;
    width: inherit;
    border-radius: 1rem;
}

.cardBody {
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
    font-weight: 500;
    border-radius: 1rem;
}

.details {
    padding: .7rem;
}

.p {
    font-size: .9rem;
    margin: 0;
}

.pmid,
.prd {
    font-size: .6rem;
    font-weight: 100;
    margin: 0;
    color: rgb(119, 119, 119);
}

.icon {
    color: #003366;
}

@media only screen and (max-width: 405px) {
    .p {
        font-size: 1rem;
    }

    .side {
        display: flex;
        width: inherit;
        height: inherit;
        justify-content: space-around;
        padding: .5rem;
        font-size: 16px;
    }

    .side .button {
        width: 3.5rem;
        height: 2rem;
    }
}