.body {
    display: flex;
    /* background-color: #003366; */
    /* border-radius: 1.75rem; */
    /* margin: 1rem; */
    position: relative;
    margin-left: 5rem;
    overflow-x: hidden;
    /* overflow-y: visible; */
    padding-left: 2.5rem;
}

.newCard {
    height: fit-content;
    margin: 2rem 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.cardList {
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
}

.cardList::-webkit-scrollbar {
    width: 1em;
}

.cardList::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.cardList::-webkit-scrollbar-thumb {
    background-color: #003366;
    outline: 1px solid slategrey;
    border-radius: 12px;
}

.cardSectionHeading {
    color: #003366;
    font-size: 1.1rem;
    font-weight: 500;
    width: inherit;
}

.side {
    position: fixed;
    left: 0;
}

.cardSection {
    /* background-color: black; */
    height: fit-content;
    margin: 2rem 1rem;
}

.bottom {
    /* width: 40%; */
    margin: 2rem 1rem;
}

.cardSectionHeading {
    font-size: 1.1rem;
    font-weight: 700;
}

.h5 {
    font-size: 1.3rem;
    font-weight: 700;
}

.bottomHeadMain,
.bottomHead {
    display: flex;
    /* margin: 1rem; */
    /* justify-content: space-between; */
}

.bottomHead {
    gap: 3rem;
}

.bottomHeadMain {
    gap: 10rem;
}

.main {
    display: flex;
    flex: 10;
}

.left {
    flex: 5;
    width: 10%;
}

.rightContainer {
    flex: 3;
    width: 0%;
    /* position: relative; */
}

.right {
    position: fixed;
}

.topHeadingDiv {
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 5rem;
    width: 10rem;
}

.top .topHeading {
    color: #003366;
    font-weight: 800;
}

.input {
    width: 90%;
}

.top {
    margin: 1rem;
    /* width: 65%; */
}

.linkDiv {
    justify-content: space-between;
}

.selected:hover {
    color: rgb(53, 53, 53);
    font-weight: 500;
    border-bottom: 2px solid #003366;
}

.selected {
    color: grey;
}

.link {
    text-decoration: none;
}

.wishCard {
    width: inherit;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

@media only screen and (max-width: 1300px) {
    .body {
        flex-direction: column;
        position: relative;
        margin-left: 1.2rem;
    }

    .rightContainer {
        display: none;
    }
}

@media only screen and (max-width: 415px) {
    .body {
        margin-left: .5rem;
        padding-left: 0;
    }

    .top .topHeading {
        font-size: 24px;
    }

    .top {
        padding: 3rem 1rem 0;
        margin: 0;
    }

    .logo {
        width: 3rem;
        height: 2rem;
    }

    .h5 {
        font-size: 18px;
        margin: .3rem 0 .1rem;
    }

    .input {
        padding: .3rem;
    }

    .bottomHeadMain {
        gap: .2rem;
        font-size: 20px;
    }

    .wishCard {
        gap: 1.5rem;
        margin-left: 0;
        padding-left: 0;
    }

    .selected {
        font-size: 18px;
    }

    .bottomHead {
        gap: .1rem;
    }
}