.body {
    display: flex;
    /* background-color: #a3f; */
    /* border-radius: 1.75rem; */
    margin: 1rem;
    position: relative;
    margin-left: 5rem;
    width: 60vw;
    overflow-x: hidden;
    /* overflow-y: visible; */
    padding-left: 2.5rem;
}

.cardList {
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    /* flex-wrap: wrap; */
}


.cardSectionHeading {
    color: #000;
    font-size: 1.1rem;
    font-weight: 500;
    width: inherit;
}

.side {
    position: fixed;
    left: 0;
}

.cardSection {
    /* background-color: black; */
    height: fit-content;
    margin: 2rem 1rem;
}

.bottom {
    /* width: 40%; */
    margin: 2rem 1rem;
}

.bottomHeadMain,
.bottomHead {
    display: flex;
    gap: 3rem;
    /* margin: 1rem; */
    /* justify-content: space-between; */
}

.bottomHeadMain {
    gap: 10rem;
}

.main {
    display: flex;
    flex: 10;
}

.left {
    flex: 7;
    width: 80%;
}

.right {
    flex: 3;
}

.topHeadingDiv {
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 5rem;
    width: 10rem;
}

.top .topHeading {
    color: #000;
    font-weight: 800;
}

.input {
    width: 90%;
}

.top {
    margin: 1rem;
    width: 65%;
}

.linkDiv {
    justify-content: space-between;
}

.selected:hover {
    color: #000;
    font-weight: 900;
    border-bottom: 3px solid #003366;
}

.selected {
    color: grey;
}

.link {
    text-decoration: none;
}

.wishCard {
    flex-wrap: wrap;
}