@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    font-family: 'Poppins', sans-serif;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(0, 29, 61);
}

.main {
    display: flex;
    flex-direction: row;
    height: 80vh;
}

.left h3 {
    color: #ffc300;
}

.left {
    width: 50%;
    background: rgb(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px) !important;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.right h1,
h2 {
    color: whitesmoke;
    font-weight: bold;
    text-shadow: 2px 2px #000;
}

.right {
    width: 50%;
    padding: 2rem;
    background-image: url(../images/hotel-back.webp);
    /* border: yellow solid; */
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.left,
.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.left form {
    display: flex;
    flex-direction: column;
}

.left form label {
    margin: 1rem 0 0.35rem !important;
    color: #fff;
}

.left input {
    padding: 0.25rem !important;
    border: 0;
    color: #eee;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px) !important;
    border-radius: 15px;
    border-bottom: 1px solid #eee;
    background: transparent !important;
    outline: none !important;
}

input:focus {
    border-bottom: #ffc300 1px solid;
}

input:hover {
    color: #eee;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px) !important;
    border-radius: 15px;
    background: transparent !important;
    border-bottom: 1px solid #ffc300;
}

form a {
    color: #fff !important;
}

.left span {
    transition-property: margin-top !important;
    transition-delay: 0.5ms !important;
}

.left span:hover {
    margin-top: -1px !important;
    color: #ffc300 !important;
}

form a:hover {
    color: #ffc300 !important;
}

.left input::placeholder {
    color: grey;
    font-size: 16px;
    margin-left: 1rem !important;
}

@media only screen and (max-width: 1000px) {
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        border-radius: 5px !important;
        font-size: 16px;
        box-shadow: #ffc300 2px 5px;
    }

    .left,
    .right {
        padding-top: 5rem;
        width: 60vw !important;
        border: none !important;
        border-radius: 0px !important;
        box-shadow: rgb(54, 54, 92) 2px 5px 5px;

    }

    .right {
        display: none;
    }

    .left h3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 10vh !important;
    }

    button {
        background-color: #8b6b00 !important;
        margin: 0 auto !important;
        width: 8rem !important;
    }
}

@media only screen and (max-width: 589px) {
    .left input {
        width: 80% !important;
    }

    .left {
        padding-left: 10% !important;
        width: 90vw !important;
    }

    .left h3 {
        display: block;
    }

    button h5 {
        font-size: 12px !important;
    }

}